.conversation__page {
  position: relative;
}

.message__buttonContainer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  border-radius: 0.7rem;
}

.message__buttonContainer input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 20px;
  margin: 0;
  background-color: transparent;
}

.message__button {
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0.5rem;
  color: var(--twitter-color);
}

.message__page_messages {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin-bottom: 3.1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.message__page_messages::-webkit-scrollbar {
  width: 0rem;
}

.message__intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 0.3rem;
  margin-bottom: 0.8rem;
}

.message__container1 {
  width: calc(100% - 0.5rem);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.5rem;
}

.message__container2 {
  width: calc(100% - 0.5rem);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0.5rem;
}

.message__child1,
.message__child2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.07rem 1.6rem;
  border-radius: 1.5rem;
}

.message__child1 {
  align-items: flex-end;
  margin-left: 1rem;
  background-color: var(--twitter-color);
}

.message__child2 {
  align-items: flex-start;
  margin-right: 1rem;
  background-color: var(--twitter-background);
}

.groupmessage__container2 {
  width: calc(100% - 0.5rem);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 0.5rem;
  gap: 0.3rem;
}

.groupmessage__child2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.07rem 1.6rem;
  border-radius: 1.5rem;
  border-top-left-radius: 0;
}

.groupmessage__child2 {
  align-items: flex-start;
  margin-right: 1rem;
  background-color: var(--twitter-background);
}

.create_Group_button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 1rem 0;
}

.create_Group_button button {
  width: 100%;
  height: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: var(--twitter-color);
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.create_Group_button button:hover {
  background-color: #1a91da;
}

.crete_group_container {
  background-color: white;
  width: 90vw;
  height: 50rem;
  max-width: 30rem;
  max-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  position: relative;
}

.crete_group_container h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
}

.crete_group_container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}

.crete_group_container input {
  width: 90%;
  height: 3rem;
  border: none;
  outline: none;
  /* padding: 0 1rem; */
  padding: 0;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.crete_group_container input::placeholder {
  font-size: 1.2rem;
  font-weight: 600;
}

.crete_group_container input[type="file"] {
  position: absolute;
  top: -1.3rem;
  left: 0rem;
  opacity: 0;
}

.crete_group_container .group_span {
  height: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: var(--twitter-color);
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  position: relative;
}

.crete_group_container .upload_icon {
  font-size: 1.5rem;
}

.crete_group_container button {
  height: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: var(--twitter-color);
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 1rem;
}

.crete_group_container button:hover {
  background-color: #1a91da;
}

.create_group_close_icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--twitter-color);
  cursor: pointer;
}

.group__info {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* background-color: var(--twitter-background); */
  background-color: white;
  display: flex;
  z-index: 100;
  flex-direction: column;
  align-content: center;
}

.group__info__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.group__info__header {
  width: 100%;
  /* height: 3rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--twitter-background);
}

.group__info__header h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.group__info__header__avatar {
  width: 11rem;
  height: 11rem;
  border-radius: 100%;
}

.group__info__body {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.group_info_body_h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
}

.group_info_body_p {
  margin-top: 0.5rem;
}

.group__info__footer {
  width: 90%;
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
}

.group_info_member_h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 1rem;
}

.group__info__footer__members {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.group__info__footer__members__member {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 0.5rem;
  background-color: var(--twitter-background);
}

.group_info_addmember {
  width: 100%;
  height: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: var(--twitter-color);
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  position: relative;
  margin: 0;
}

.adding_member_container {
  width: 40rem;
  height: 90vh;
  min-height: 30rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  border: 0;
  position: relative;
}

.adding_member_container input{
  width: 90%;
  height: 3rem;
  border: none;
  outline: none;
  /* padding: 0 1rem; */
  padding: 0;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.adding_member_container ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  width: 90%;
  gap: 0.3rem;
}

.adding_member_container li {
  list-style: none;
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 0.5rem;
  background-color: var(--twitter-background);
  justify-content: space-between;
}

.adding__member__detail{
  display: flex;
  align-items: center;
}

.adding_member_container li button{
  border: none;
  outline: none;
  cursor: pointer;
  /* background-color: transparent; */
  color: var(--twitter-color);
  font-size: 1.2rem;
  font-weight: 600;
}
