.notifications__page {
  flex: 0.9;
  border-right: 1px solid var(--twitter-background);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notifications__page::-webkit-scrollbar {
  display: none;
}

.notification__ul{
  width: 90%;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: flex-start;
}

.notification__ul > li{
  border-bottom: 1px solid var(--twitter-background);
  padding: 1rem 0;
}

.notification__likeContainer1{
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-height: 10.4rem;
  overflow: ellipsis;
  margin-bottom: 1rem;
}

.notification__likeIcon{
  color: rgba(249,24,128,1.00);
  padding: 0.4rem 0.7rem 0.7rem 0.7rem;

}

.notification__likeContainer:hover{
  background-color: var(--twitter-background);
  cursor: pointer;
}

.notification__likeContainer2{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.notification__name{
  font-weight: bold !important;
}

.notification__text{
  font-weight: 200;
}

.notification__tweet{
  font-weight: 200;
  color: grey;
}

.notification__tweetTitle{
  white-space: wrap;
  height: 5.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
} 