body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
}

@media screen and (max-width: 668px) {
  .app {
    display: block;
  }
}
